<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% for field in form %}
        {{ field.label }} : {{ field }}
    {% endfor %}
    <button>submit</button>
    {% csrf_token %}
</form>
<p>{{ context }}</p>
</body>
</html>