<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

 　　$.ajaxSetup({

 　　　　data: {csrfmiddlewaretoken: '{{ csrf_token }}'}

 　　})
</script>
</head>
<body>
    <input type="text" name="search" id="searchinput">
    <button type="submit" name="submit" id="submit">Search</button>
    {% csrf_token %}
    <p id="result"></p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>

    </thead>
    <tbody>
    {% for field in person %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ field.name }}</td>
            <td>{{ field.email }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
    <script src="../static/personjs.js"></script>
</body>
</html>