<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Person List</h1>
<form action="/" method="POST">
    <input type="text" name="search">
    <button type="submit" name="submit">Search</button>
    {% csrf_token %}
</form>
<p>{{ context }}</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
        {% for field in person %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ field.name }}</td>
            <td>{{ field.email }}</td>
        </tr>
        {% endfor %}
</table>

</body>
</html>